h1{
    font-family:arial;
    font-size:30px;
}
section{
    background:grey;
    text-align:center;
    padding:70px;
    margin:18px; 
   font-size:40px;
  
   
}
body{
   background:rgb(179, 173, 173);
    
}
